body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #ce3abf;
    color: white;
    padding: 20px;
    text-align: center;
}

#galeria {
    padding: 20px;
    background-color: white;
}

#galeria .imagenes {
    display: flex;
    gap: 10px;
}

#galeria img {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

#contacto {
    background-color: #d99ddb;
    padding: 20px;
    text-align: center;
}

footer {
    background-color: #c66ec5;
    color: white;
    padding: 10px;
    text-align: center;
    margin-top: 20px;
}

.carousel-container {
    width: 100%;
    overflow: hidden;
    position: relative;
    padding: 20px;
    background-color: white;
}

.carousel {
    display: flex;
    gap: 10px;
    transition: transform 0.3s ease-in-out;
}

.carousel img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
}

.carousel-container:hover .carousel {
    animation: scroll 5s linear infinite;
}

@keyframes scroll {
    0% { transform: translateX(0); }
    100% { transform: translateX(-50%); }
}